@layout('layouts.main');

@section('title')
Food
@endsection

@section('extracss')

@endsection

@section('content')
  <section class="box">
    <img src="/banner2.jpg" alt="Banner" width="100%"/>
    <div class="centered"><h1 class="display-4 mb-4">Find a Recipe</h1>
    <input type="search" name="field">
    <h5 class="my-4">ADVANCED SEARCH</h5></div>
  </section>
@endsection